{% extends "base.html" %}


{% block conteudo %}


<h2>Painel Inicial</h2>


<p>Bem-vindo ao Sistema de Biblioteca Escolar.</p>


<div class="painel">


    <div class="card">
        <h3>Alunos</h3>
        <p>{{ total_alunos }}</p>
    </div>


    <div class="card">
        <h3>Livros</h3>
        <p>{{ total_livros }}</p>
    </div>


    <div class="card">
        <h3>Disponíveis</h3>
        <p>{{ total_disponiveis }}</p>
    </div>


    <div class="card">
        <h3>Emprestados</h3>
        <p>{{ total_emprestimos }}</p>
    </div>


</div>


<h3>Acesso rápido</h3>


<nav>
    <a href="/">Início</a>
    <a href="/alunos">Alunos</a>
    <a href="/livros">Livros</a>
    <a href="/bibliotecarios">Bibliotecários</a>
    <a href="/emprestimos">Empréstimos</a>
    <a href="/emprestimos/atrasados">Atrasados</a>
</nav>



{% endblock %}
